.app__projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 8em;

  h1 {
    text-align: center;
    font-size: 8rem;
    font-weight: 800;
    color: var(--black-color);
    margin-bottom: 4rem;

    @media screen and (max-width: 900px) {
      font-size: 3rem;
      margin-bottom: 0.5em;
    }
  }

  .app__projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min(100%, 964px);
    margin-inline: auto;
    color: var(--secondary-color);

    .app__projects-card {
      width: calc(100% / 2 - 10%);
      margin: 1rem;
      border: solid 1px var(--gray-color);
      background-color: var(--white-color);
      border-radius: 3px;
      padding: 1rem;

      .app__project-title {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-color);
        margin-bottom: 0.5rem;
      }

      .app__project-desc {
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      .app__project-tech {
        display: flex;
        flex-direction: row;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
        list-style: none;
        flex-wrap: wrap;

        li {
          color: var(--secondary-color);
          font-weight: 300;
          margin-right: 0.5rem;
          text-transform: uppercase;
          flex-wrap: wrap;
        }
      }

      .controls {
        display: flex;

        a {
          font-size: 0.8rem;
          margin-right: 1rem;
          color: var(--black-color);
          text-decoration: none;
          font-weight: 500;
        }
      }

      @media screen and (max-width: 900px) {
        width: 100%;
        margin: 0.5rem 0rem;
      }
    }
  }

  @media screen and (max-width: 900px) {
    padding: 1rem 2rem;
  }
}
