.app__loader {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);

  .app__loader-logo {
    margin: 4rem;
    font-weight: 800;
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 0.5rem;

    animation: 2s infinite border;

    @media screen and (max-width: 900px) {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
}

@keyframes border {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
