.app__home {
  display: flex;
  padding: 8em;
  flex-direction: column;
  justify-content: center;

  .app__hero-name {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 8em;
    line-height: 1em;

    @media screen and (max-width: 900px) {
      font-size: 3em;
    }
  }
  .app__hero-title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
  .app__hero-desc {
    color: var(--secondary-color);
    font-weight: 400;

    width: min(50%, 600px);
    font-size: 1rem;
    margin-bottom: 2em;

    @media screen and (max-width: 900px) {
      font-size: 0.8rem;
      width: 100%;
    }
  }
  .download__link {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--white-color);
    border: solid 2px var(--white-color);
    font-weight: 500;
    font-size: 1em;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
      background-color: var(--white-color);
      border: solid 2px var(--accent-color);
      transition: all 0.5s ease;
    }

    &:active {
      color: var(--accent-color);
      background-color: var(--white-color);
      border: solid 2px var(--accent-color);
    }

    @media screen and (max-width: 900px) {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 900px) {
    padding: 1rem 2rem;
    justify-content: center;
  }
}
