.app__footer {
  display: flex;
  padding: 1em;
  text-align: center;
  justify-content: center;

  span {
    font-size: 0.8rem;
    color: var(--secondary-color);
    font-weight: 400;

    @media screen and (max-width: 900px) {
      font-size: 0.7rem;
    }
  }
}
