.app__experience {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 8em;

  color: var(--secondary-color);
  flex: 1;

  .cont {
    width: calc(100% - 30%);

    h1 {
      font-size: 4rem;
      margin-bottom: 1.5rem;

      @media screen and (max-width: 900px) {
        font-size: 3rem;
      }
    }

    .tech-btn,
    .exp-btn {
      color: var(--gray-color);
      cursor: pointer;

      &:hover {
        color: var(--black-color);
        transition: all 0.1s;
      }
    }

    .active {
      color: var(--accent-color);
    }

    span {
      color: var(--white-color);
    }

    p {
      margin: 0.5rem 0rem;
      font-weight: 500;
    }

    .tech_cont {
      width: calc(100% - 30%);

      @media screen and (max-width: 900px) {
        width: 100%;
        font-size: 0.8rem;
      }
    }

    .exp-cont {
      width: calc(100% - 30%);

      .exp-title {
        color: var(--white-color);
      }

      @media screen and (max-width: 900px) {
        width: 100%;
        font-size: 0.8rem;
      }
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    padding: 1rem 2rem;
    justify-content: center;
  }
}
