@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --font-family: "Poppins", sans-serif;
  --white-color: #fff;
  --bg-color: #191919;
  --primary-color: #303030;
  --secondary-color: #696969;
  --accent-color: #ff0049;
  --black-color: #060606;
  --gray-color: #c4c4c4;
}

:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 20px;
  border: 3px solid transparent;
}
